In [3]:
import pandas as pd
import numpy as np

In [5]:
data=np.array(['a','b','c','d','e'])

In [6]:
data

array(['a', 'b', 'c', 'd', 'e'], dtype='<U1')

In [9]:
a=[1,2,3,4,5]

In [12]:
ser=pd.Series(data,a)

In [10]:
ser1=pd.Series(a)

In [13]:
ser

1    a
2    b
3    c
4    d
5    e
dtype: object

In [14]:
#dataframe

In [19]:
from numpy.random import random
np.random.seed(101)

In [23]:
df=pd.DataFrame(randn(5,4),'A B C D F'.split(),'W X Y Z'.split())

In [24]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
F -0.925874  1.862864 -1.133817  0.610478

In [27]:
df[['W','Y']]   ##selecting the columns

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579
C  2.154846 -0.755325
D  0.147027  0.558769
F -0.925874 -1.133817

In [29]:
df.loc['A'] #selecting row by index data

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [30]:
df.iloc[2] #selecting row by index number

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [35]:
df.loc['A','X']

0.19679950499134005

In [38]:
df[df['W']>0]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [39]:
data={'company':['Google','Google','Meta','TCS','TCS'],
      'person':['Rohit','Deepak','shivam','uttam','shiv'],
      'sales':[20,34,23,234,23]}

In [40]:
df=pd.DataFrame(data)

In [47]:
df1=df.groupby('company')

In [48]:
df1