In [1]:
import pandas as pd
2,3,5,7,11

In [13]:

for i in range(2,200):
    n=0
    for j in range(2,i):
        if i%j==0 :
            break
        n=1
    if n==1:
        print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [14]:
w='mynameisrohit'

In [19]:
w='mynameisrohit'
d={}
for x in w:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occurred",v,"times")

m occurred 2 times
y occurred 1 times
n occurred 1 times
a occurred 1 times
e occurred 1 times
i occurred 2 times
s occurred 1 times
r occurred 1 times
o occurred 1 times
h occurred 1 times
t occurred 1 times

In [58]:
df=pd.DataFrame({'Name':['rohit','deepak','neeshu','vivek'],'Dept':['HR','IT','IT','Admin']})

In [59]:
df

     Name   Dept
0   rohit     HR
1  deepak     IT
2  neeshu     IT
3   vivek  Admin

In [36]:
df['Dept']=df['Dept']+df['Dept']
df

     Name        Dept           a
0   rohit        HRHR        HRHR
1  deepak        ITIT        ITIT
2  neeshu        ITIT        ITIT
3   vivek  AdminAdmin  AdminAdmin

In [49]:
duplicatemethod1=l

     Name   Dept
0   rohit     HR
1  deepak     IT
2  neeshu     IT
3   vivek  Admin

In [41]:
def duplicatemethod():
    df['Dept']=df['Dept']+df['Dept']

In [52]:
df.apply(lambda df['Dept']:df['Dept']+df['Dept'])

SyntaxError: invalid syntax (2650572989.py, line 1)

In [60]:
df[df['Dept'].apply(lambda s:s+s )]

KeyError: "None of [Index(['HRHR', 'ITIT', 'ITIT', 'AdminAdmin'], dtype='object')] are in the [columns]"

In [57]:
df[df['Name'].apply(lambda s:'e' in s )]

     Name   Dept
1  deepak     IT
2  neeshu     IT
3   vivek  Admin

In [73]:
a=123456
s=str(a)

st=s[0::2]+s[1::2]
st

'135246'

In [78]:
temp=0
b=a%10
temp=b+10

16

In [ ]:
sc.Sereilization(1,2,,3,4,5)